<div class="span3 well">
  <%= link_to "Edit Profile", edit_user_registration_path %>
  <center>
    <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
      <%= render partial: 'users/user_pic', locals: {user: @user}  %>
    </a>
    <h3><%=@user.first_name %></h3>
    <p><%=@user.city %></p>
    <p><%=@user.occupation %></p>
  </center>
</div>


<% if @user.projects %>
  <div>
    <% @user.projects.each do |project| %>
      <%= render partial: "projects/project_card", locals: {project: project} %>
    <% end %>
  </div>
<% end %>

<%= form_tag photo_upload_path, method: :put, multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag %>
<% end %>

 <%= link_to "Add a new project", new_project_path %>



