<% if message.user == current_user %>
  <div class="container">
    <%= image_tag message.user.avatar %>
    <p><%= message.user.first_name %></p>
    <p><%= message.content %></p>
    <span class="time-right"><%= message.created_at %></span>
  </div>
<% else %>
  <div class="container darker ">
    <%= image_tag message.user.avatar, :class => "right"%>
    <p class="right"><%= message.user.first_name %></p>
    <p class="right"><%= message.content %></p>
    <span class="time-right"><%= message.created_at %></span>
  </div>
<% end %>
