<div class=project-show-wrapper>
  <h2><%= @project.name %></h2>
  <p><%= @project.description %></p>
  <div class="skill-card-grid">
    <% @project.skills.each do |skill| %>
      <div class=skill-card><%= skill.name %></div>  
    <% end %>
  </div>
  <% if !@project.collaborators.empty? %>
    <div class="collaborators">
      <% @project.collaborators.each do |collaborator| %>
        <p><%= collaborator.user.first_name %></p>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'add_collaborator', locals: {project: @project} %>