<!DOCTYPE html>
<html>
  <head>
    <title>PlentyOfDevs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="app-wrapper">
    <h1>Plenty of Devs</h1>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= yield %>
  </div>
  </body>
</html>
